# bechmarks

benchmarks/hashtable/bench_bucket_hashtable/**
benchmarks/hashtable/bench_probing_hashtable/**

# build
build/**
docs/**
doxygen-html/**
doxygen_sqlite3.db
__pycache__

#libs that are downloaded through setup.sh
lib/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IntelliJ products
*.idea

# Vim swap files
*.swp

# YCM files
*.ycm_*
